.star-rating {
    display: flex;
    align-items: center;
    gap: 16px;
}

.stars {
    display: flex;
}

.text {
    line-height: 1;
    margin: 0;;
}

.star {
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: block;;
}

